<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="imports"></div>
    <title>График</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">AllWeatherRussiaBot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/users/main}">Личный кабинет</a></li>
                <li><a href="#" th:href="@{/users/messages}">Таблица статистики</a></li>
                <li><a href="/logout">Выйти</a>
                    <form style="visibility: hidden" method="get" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="chart-container">
    <canvas id="myChart" aria-label="aria" role="img"></canvas>
</div>

<script>

    function grabData() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: "http://localhost:8084/users/rest/messages",
                method: "GET",
                dataType: 'JSON',
                success: function (data) {
                    resolve(data)
                },
                error: function (error) {
                    reject(error);
                }
            })
        })
    }

    $(document).ready(function () {
        grabData().then((data) => {
            console.log('Received data:', data);
            let text = [];

            try {
                data.forEach((item) => {
                    if (item.text === '/start') {
                        console.log(item.text);
                    }
                    text.push(item.text);
                });

                let a = {};

                data.forEach((item) => {
                    if (a.hasOwnProperty(item.text)) {
                        a[item.text] = a[item.text] + 1;
                    } else {
                        a[item.text] = 1;
                    }
                });

                let b = [];
                let c = [];
                for (let key in a) {
                    b.push(key);
                    c.push(a[key]);
                }

                console.log('Messages: ', text);

                let chartdata = {
                    labels: [...b],
                    datasets: [{
                        label: 'Сообщения',
                        data: [...c],
                        backgroundColor: [
                            'rgb(136,136,246)',
                            'rgb(89,245,231)',
                            'rgb(255,8,46)',
                            'rgb(0,151,148)',
                            'rgb(205,254,0)',
                            'rgb(255,0,109)',
                            'rgb(168,0,239)',
                            'rgb(255,179,30)',
                            'rgb(0,249,111)',
                            'rgb(71,66,74)'
                        ],
                        borderColor: [
                            'rgb(136,136,246)',
                            'rgb(89,245,231)',
                            'rgb(255,8,46)',
                            'rgb(0,151,148)',
                            'rgb(205,254,0)',
                            'rgb(255,0,109)',
                            'rgb(168,0,239)',
                            'rgb(255,179,30)',
                            'rgb(0,249,111)',
                            'rgb(71,66,74)',
                            'rgb(0,0,0)'
                        ],
                        /*borderColor: 'white',*/
                        borderWidth: 0.5,
                    }]
                };

                /*admin_admin*/
                let ctx = $("#myChart");

                const chart = new Chart(ctx, {
                    type: 'pie',
                    data: chartdata,
                    options: {
                        responsive: true,
                        aspectRatio: 1.9,
                        plugins: {
                            legend: {
                                position: 'bottom'
                                /*display: false*/
                            },
                            title: {
                                display: true
                                /*text: 'Количество сообщений: '*/
                            },
                            animation: {
                                animateScale: true,
                                animateRotate: true
                            }
                        }
                    },
                });

            } catch (error) {
                console.log('Error parsing JSON data', error)
            }

        }).catch((error) => {
            console.log(error);
        })
    });

</script>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>