<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>График</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">AllWeatherRussiaBot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/users/main}">Личный кабинет</a></li>
                <li><a href="#" th:href="@{/users/table}">Таблица статистики</a></li>
                <li><a href="/logout">Выйти</a>
                    <form style="visibility: hidden" method="get" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>

<div class="wrapper">
    <div class="container">
        <div class="row box2">
            <div class="col-xl-9 pie" width="510" height="410">
                <canvas class="canvaspie" id="piechart" width="1200" height="550"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    function grabData() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: "http://localhost:8084/users/rest/messages",
                method: "GET",
                dataType: 'JSON',
                success: function (data) {
                    resolve(data)
                },
                error: function (error) {
                    reject(error);
                    console.log("Data load error");
                    location.replace("http://localhost:8084/users/rest/messages");
                }
            })
        })
    }

    $(document).ready(function () {
        grabData().then((data) => {
            console.log('Received data:', data);
            let text = [];

            try {
                data.forEach((item) => {
                    text.push(item.text);
                });

                let a = {};

                data.forEach((item) => {
                    if (a.hasOwnProperty(item.text)) {
                        a[item.text] = a[item.text] + 1;
                    } else {
                        a[item.text] = 1;
                    }
                });

                let dataOfCities = [];
                let valuesOfLabels = [];
                for (let key in a) {
                    dataOfCities.push(key);
                    valuesOfLabels.push(a[key]);
                }
                console.log('Messages: ', text);

                $(function () {
                    const background_color = [
                        '#FF3784',
                        '#36A2EB',
                        '#4BC0C0',
                        '#F77825',
                        '#9966FF',
                        '#00A8C6',
                        '#379F7A',
                        '#CC2738',
                        '#8B628A',
                        '#8FBE00',
                        '#000000',
                        '#FF3784',
                        '#36A2EB',
                        '#4BC0C0',
                        '#F77825',
                        '#9966FF',
                        '#00A8C6',
                        '#379F7A',
                        '#CC2738',
                        '#8B628A',
                        '#8FBE00',
                        '#000000',
                        '#FF3784',
                        '#36A2EB',
                        '#4BC0C0',
                        '#F77825',
                        '#9966FF',
                        '#00A8C6',
                        '#379F7A',
                        '#CC2738',
                        '#8B628A',
                        '#8FBE00',
                        '#000000',
                        '#000000',
                        '#FF3784',
                        '#36A2EB',
                        '#4BC0C0',
                        '#F77825',
                        '#9966FF',
                        '#00A8C6',
                        '#379F7A',
                        '#CC2738',
                        '#8B628A',
                        '#8FBE00',
                        '#000000',
                        '#379F7A',
                        '#CC2738',
                        '#8B628A',
                        '#8FBE00'
                    ];

                    let ctx = document.getElementById("piechart");

                    let data = {
                        width: 100,
                        height: 100,
                        labels: [...dataOfCities].slice(1),
                        datasets: [{
                            label: "pie chart",
                            backgroundColor: background_color,
                            borderWidth: 1.5,
                            data: [...valuesOfLabels].slice(1)
                        }]
                    };

                    const reducer = (accumulator, currentValue) => accumulator + currentValue;
                    let percent = [...valuesOfLabels].slice(1).reduce(reducer);

                    let options = {
                        responsive: false,
                        maintainAspectRatio: false,
                        legend: {
                            display: true,
                            position: 'right',
                            labels: {
                                padding: 15,
                                usePointStyle: true,

                                generateLabels(chart) {
                                    const data = chart.data;
                                    if (data.labels.length && data.datasets.length) {
                                        return data.labels.map((label, i) => {
                                            let backgroundColor = data.datasets[0].backgroundColor[i];
                                            let current = data.datasets[0].data[i];
                                            let percentage = ((current * 100) / percent).toFixed(2) + '%';
                                            return {
                                                text: label + " : " + percentage,
                                                fillStyle: backgroundColor,
                                                index: i
                                            };
                                        });
                                    }
                                    return [];
                                }
                            },
                        },
                        layout: {
                            padding: 50

                        },
                        zoomOutPercentage: 55,
                        plugins: {}
                    };

                    let myChart = new Chart(ctx, {
                        type: 'pie',
                        data: data,
                        options: options
                    });
                })
            } catch (error) {
                console.log('Error parsing JSON data', error)
            }

        }).catch((error) => {
            console.log(error);
        })
    });
</script>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>