html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
}

.starter-template {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        padding-right: 0;
        padding-left: 0;

    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        padding-right: 0;
        padding-left: 0;
    }
}