<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <div th:replace="imports"></div>
    <title>Ошибка</title>
</head>
<body>
<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-primary btn-block" type="Submit">Перейти на страницу авторизации</button>
</form>

<div class="container">
    <h1>Ошибка!</h1> <br/>
    <h4>
        Ошибка доступа. Обратитесь к администратору.
    </h4>
</div>

</body>
</html>