<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <div th:replace="imports"></div>
    <title>Главная</title>
</head>
<body>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Сервис статистики бота AllWeatherRussiaBot</h1>
        <p class="lead">Для просмотра статистики необходима регистрация.<br>
        </p>
    </div>
    <a th:href="@{/registration}" class="btn btn-primary btn-lg" role="button">Регистрация</a>

</main>

</body>
</html>