<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <div th:replace="imports"></div>
    <title>Форма регистрации</title>
</head>
<body>

<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-primary btn-block" type="Submit">Уже зарегистрированы? Перейти на страницу
        авторизации
    </button>
</form>

<h2 style="text-align: center; margin-bottom: 20px; padding-top: 20px;">Форма регистрации</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4 centered">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{name}" placeholder="Имя"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{lastName}"
                               placeholder="Фамилия" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{email}" placeholder="Адрес электронной почты"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}" placeholder="Пароль"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{passwordConfirm}" placeholder="Подтвердить пароль"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
                    </div>
                </div>
                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
            </form>
        </div>
    </div>
</div>
</div>

</body>
</html>